# This workflow is for internal testing only, and its execution is slower than in regular conditions.
# Please follow the README's instructions to use this action in your project. 

name: Test

on:
  push:
    branches: 
    - '*'

jobs:

  tests:

    runs-on: ubuntu-latest

    container:
      image:  google/dart:2.6-dev
    
    steps:
    - uses: actions/checkout@v1
    - name: Set environment variables
      run: |
        echo "::add-path::/flutter/bin"
        echo "::add-path::$HOME/.pub-cache/bin"
        echo "::set-env name=INPUT_TESTING::true"
        echo "::set-env name=INPUT_MINANNOTATIONLEVEL::info"
    - name: Install Flutter
      run: |
        apt-get update
        apt-get -y install unzip
        git clone -b stable --depth 1 https://github.com/flutter/flutter.git /flutter
        flutter --version
    - name: Activate pana
      run: flutter pub global activate pana ^0.12.21
    - name: Compile
      run: |
        cd app
        pub get
        dart2native bin/main.dart -o /main
    - name: Path 1
      env:
        INPUT_GITHUBTOKEN: ${{ secrets.GITHUB_TOKEN }}
        INPUT_RELATIVEPATH: test_package
      run: dartaotruntime /main.dart.aot
    - name: Path 2
      env:
        INPUT_GITHUBTOKEN: ${{ secrets.GITHUB_TOKEN }}
        INPUT_RELATIVEPATH: /test_package
      run: dartaotruntime /main.dart.aot
    - name: Path 3
      env:
        INPUT_GITHUBTOKEN: ${{ secrets.GITHUB_TOKEN }}
        INPUT_RELATIVEPATH: ./test_package
      run: dartaotruntime /main.dart.aot
    - name: With exception
      env:
        INPUT_GITHUBTOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: dartaotruntime /main.dart.aot
    - name: Empty path
      env:
        INPUT_GITHUBTOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        cd $GITHUB_WORKSPACE
        mv test_package /test_package
        rm -r *
        mv /test_package/* .
        dartaotruntime /main.dart.aot
