# This workflow is for internal testing only, and its execution is slower than in regular conditions.
# Please follow the README's instructions to use this action in your project. 

name: Test

on:
  push:
    branches: 
    - '*'

jobs:

  tests:

    runs-on: ubuntu-latest

    container: google/dart:2

    env:
      INPUT_GITHUBTOKEN: ${{ secrets.GITHUB_TOKEN }}
      INPUT_TESTING: true
      INPUT_MINANNOTATIONLEVEL: info
    
    steps:
    - uses: actions/checkout@v1
    - name: Edit path
      run: |
        echo "::add-path::/flutter/bin"
        echo "::add-path::$HOME/.pub-cache/bin"
    - name: Install Flutter
      run: |
        apt-get update
        apt-get -y install unzip
        git clone -b stable --depth 1 https://github.com/flutter/flutter.git /flutter
        flutter --version
    - name: Activate pana
      run: flutter pub global activate pana
    - name: Compile
      run: |
        cd app
        pub get
        dart2native bin/main.dart -o /main
    - name: Path 1
      env:
        INPUT_RELATIVEPATH: test
      run: /main
    - name: Path 2
      env:
        INPUT_RELATIVEPATH: /test
      run: /main
    - name: Path 3
      env:
        INPUT_RELATIVEPATH: ./test
      run: /main
    - name: With exception
      env:
        INPUT_GITHUBTOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: dartaotruntime /main.dart.aot
    - name: Empty path
      run: |
        cd $GITHUB_WORKSPACE
        mv test /test
        rm -r *
        mv /test/* .
        /main
